# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=3600000   #1 시간
JWT_REFRESH_EXPIRATION=604800000 # 7일

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Gmail SMTP
GMAIL_USERNAME=
GMAIL_APP_PASSWORD=

# Perplexity
PERPLEXITY_API_KEY=